    <% if current_user %>
      <h3>Welcome: <%= current_user.email %></h3>
    <% else %>

     <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item"><%= link_to image_tag("http://f8rentals.com/wp-content/uploads/2015/03/IMG_0067ft.jpg?189db0")%>
         <div class="carousel-caption">
                   <h3>Photoking</h3>
                           <p>You will love hosting your photos with us</p>
                                 </div>
        </div>
        <div class="item"><%= link_to image_tag("http://f8rentals.com/wp-content/uploads/2015/04/4A0A8283.jpg?189db0")%>
         <div class="carousel-caption">
                   <h3>Photoking</h3>
                           <p>You will never look for another service</p>
        </div>
        </div>
        <div class="item"><%= link_to image_tag("http://f8rentals.com/wp-content/uploads/2015/04/1.jpg?189db0")%>
         <div class="carousel-caption">
                   <h3>Photoking</h3>
                           <p>Prepared to be amazed</p>
        </div>
      </div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <div class="row">
      <div class="plans clearfix">
        <div class="col-lg-3 col-lg-offset-3 plan">
          <h2>Premium Plan</h2>
          <div class="price pull-right">
            Price: $10
          </div>
          <div class="features">
            <ul>
              <li>Unlimited Image Uploads</li>
              <li>Responsive design</li>
              <li>Access anywhere</li>
            </ul>
          </div>
          <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
          </p>
        </div>
        <div class="col-lg-3 plan">
          <h2>Amaze Plan</h2>
          <div class="price pull-right">
            Price: $20
          </div>
          <div class="features">
            <ul>
              <li>Unlimited Image Uploads</li>
              <li>Responsive design</li>
              <li>Access anywhere</li>
              <li class='extra'>Unlimited projects</li>
            </ul>
          </div>
          <p>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
